{$DOMAIN} {
	encode zstd gzip

	# Max filstorlek in, håll i takt med MAX_UPLOAD_MB
	request_body {
		max_size 30MB
	}

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "same-origin"
		-Server
	}

	reverse_proxy app:8000
}
